body {
  background-color: #fbf5de;
  /*background-image: url("assets/images/beige-paper.png");*/
  /*background-image: url("assets/images/45-degree-fabric-light.png");*/
  background-image: url("assets/images/scribble-light.png");
  background-repeat: repeat;
  background-size: 400px 400px;
  font-family: Arial, sans-serif;
  margin: 0;
}
